version: '3.8'

services:
  web:
    build: .
    # {{ edit_1 }}
    # The command now explicitly calls the entrypoint script
    command: /usr/local/bin/entrypoint.sh gunicorn eventmanagement.wsgi:application --bind 0.0.0.0:8000
    # {{ /edit_1 }}
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      POSTGRES_HOST: db
    depends_on:
      - db

  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=eventmanagement
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5432:5432"

volumes:
  postgres_data: